body {
  margin: 0px;
  padding: 0px;
  background-color: #e7f0ff;
  font-family: Roboto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  margin: 0;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 50px;
}
a {
  color: black;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid black;
  transition: background-color 0.3s, color 0.3s;
  line-height: 0;
  position: relative;
  white-space: nowrap;
}
a:hover {
  background-color: #2e5a49;
  color: white;
}
p > a {
  padding: 10px;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  top: 0px;
  padding: 20px;
  background-color: #e7f0ff;
  box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.3);
  z-index: 100;
}
header #logo {
  font-size: 24px;
  border: unset;
  color: #2e5a49;
  position: relative;
  margin: 20px 50px;
  padding: 0;
}
header #logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #2e5a49;
  z-index: 200;
  transition: all 0.3s;
}
header #logo:hover {
  background-color: unset;
  color: black;
}
header #logo:hover::after {
  width: 100%;
  background-color: black;
}
header nav ul {
  display: flex;
  margin: 0;
}
header nav ul li {
  margin: 10px;
}
footer {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(217, 9%, 80%);
}
footer * {
  margin: 10px 20px;
}
main {
  width: 80%;
  margin: 20px auto;
}
@media all and (max-width: 750px) {
  header nav {
    display: none;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "a b" "c d";
  width: 500px;
  height: 500px;
  padding: 50px;
}
.grid-container img {
  background-color: grey;
  height: 100%;
  width: 100%;
}
.grid-container .a {
  grid-area: a;
  background-color: red;
}
.grid-container .b {
  grid-area: b;
  background-color: blue;
}
.grid-container .c {
  grid-area: c;
  background-color: green;
}
.grid-container .d {
  grid-area: d;
  background-color: grey;
}
#hero nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
#hero nav a {
  padding: 20px 80px 20px 30px;
}
#hero nav a::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: grey;
}
@media all and (max-width: 600px) {
  .grid-container {
    display: none;
  }
}
